# 113356046

In [3]:
import pandas as pd
pet_store_df = pd.DataFrame({
'Animal': ['Dog', 'Cat', 'Parrot', 'Rabbit', 'Fish'],
'Price': [300, 200, 150, 100, 50],
'Stock': [10, 15, 5, 7, 20],
'Needs_Vaccine': [True, True, False, True, False]
})

# Q1

### A. Can use *tuple* to store fixed list

In [ ]:
a = ('Dog', 'Cat', 'Parrot', 'Rabbit', 'Fish')
print(a)

('Dog', 'Cat', 'Parrot', 'Rabbit', 'Fish')

### B. Can use *set* to prevent duplicates.

In [6]:
b = {'Marry','Vincent','Vincent','Patty'}
print(b)

{'Marry', 'Vincent', 'Patty'}

### C. Can use *dict* to maintain a price catalog

In [9]:
c = {"dog":300,"cat":200,"parrot":150,"rabbit":100,"fish":50}
print(c)

{'dog': 300, 'cat': 200, 'parrot': 150, 'rabbit': 100, 'fish': 50}

# Q2

In [12]:
ps1 = pd.Series([1,2,3,4,5])
ps2 = pd.Series([3,5,7,9,11])
print(f'Series1:\n{ps1}')
print(f'Series2:\n{ps2}')

Series1:
0    1
1    2
2    3
3    4
4    5
dtype: int64
Series2:
0     3
1     5
2     7
3     9
4    11
dtype: int64

# Q3

In [14]:
ps_add = ps1 + ps2
ps_substract = ps1 - ps2
ps_multiple = ps1 * ps2
ps_divide = ps1 / ps2
print(f'Add result :\n{ps_add}')
print(f'Substract result :\n{ps_substract}')
print(f'Multiple result :\n{ps_multiple}')
print(f'Divide result :\n{ps_divide}')

Add result :
0     4
1     7
2    10
3    13
4    16
dtype: int64
Substract result :
0   -2
1   -3
2   -4
3   -5
4   -6
dtype: int64
Multiple result :
0     3
1    10
2    21
3    36
4    55
dtype: int64
Divide result :
0    0.333333
1    0.400000
2    0.428571
3    0.444444
4    0.454545
dtype: float64

# Q4

In [15]:
ps1_ls = ps1.to_list()
ps2_ls = ps2.to_list()
print(f'Series 1 to List : {ps1_ls}')
print(f'Series 2 to List : {ps2_ls}')

Series 1 to List : [1, 2, 3, 4, 5]
Series 2 to List : [3, 5, 7, 9, 11]

# Q5

In [34]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(0, 200, size=(100, 6)),
columns=list('ABCDEF'))

### A

In [35]:
df.shape

(100, 6)

### B

In [36]:
df[:7]

     A    B    C    D    E    F
0   87  166  110  189   64  157
1   58  133   74   13   85  166
2   65   75   27  174  126   54
3  132   52  144   83  142   15
4  128  133  109   81   65  128
5   45   25  141  154  194  124
6  137  193   16  196   43  158

### C

In [37]:
df[-8:]

      A    B    C    D    E    F
92  177   78   19   57  102   59
93   63  184  161   78  135   12
94   36  167  176   18   55  126
95   69   39   31   92   76  154
96   41   35  116   57  172  128
97   88  129   49   51  188  101
98   22    6   82  110   69  135
99   67   47  128   96   24  163

### D

In [38]:
print(f'Index of Row:{df.index}')
print(f'Column : {df.columns}')
print(f'Not missing value count: \n{df.info()}')
print(f'Data type : {df.dtypes}')

Index of Row:RangeIndex(start=0, stop=100, step=1)
Column : Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       100 non-null    int64
 1   B       100 non-null    int64
 2   C       100 non-null    int64
 3   D       100 non-null    int64
 4   E       100 non-null    int64
 5   F       100 non-null    int64
dtypes: int64(6)
memory usage: 4.8 KB
Not missing value count:
None
Data type : A    int64
B    int64
C    int64
D    int64
E    int64
F    int64
dtype: object

### E

In [39]:
print(f"A's Count : {df['A'].describe()['count']}")
print(f"B's Mean : {df['B'].describe()['mean']}")
print(f"C's Std : {df['C'].describe()['std']}")
print(f"D's Min : {df['D'].describe()['min']}")
print(f"E's Max : {df['E'].describe()['max']}")
print(f"F's 50% : {df['F'].describe()['50%']}")

A's Count : 100.0
B's Mean : 104.25
C's Std : 54.81596298506302
D's Min : 3.0
E's Max : 197.0
F's 50% : 98.5

### F

In [48]:
df2 = df.iloc[28:,2:5]
df2

      C    D    E
28   20    3  137
29   90  162  189
30  130   57  139
31   22    4  146
32   65  153  155
..  ...  ...  ...
95   31   92   76
96  116   57  172
97   49   51  188
98   82  110   69
99  128   96   24

[72 rows x 3 columns]

### G

In [51]:
print(f'row-count * column-count for df2 is {df2.size}')

row-count * column-count for df2 is 216

### H

In [54]:
print(f"List C: {df2['C'].to_list()}")

List C: [20, 90, 130, 22, 65, 34, 108, 36, 150, 163, 77, 1, 32, 153, 68, 109, 196, 166, 32, 25, 90, 121, 70, 184, 180, 89, 186, 93, 73, 187, 174, 175, 95, 21, 19, 136, 14, 176, 132, 94, 98, 14, 176, 128, 175, 172, 37, 88, 83, 136, 134, 41, 115, 145, 162, 148, 52, 163, 90, 139, 155, 86, 61, 16, 19, 161, 176, 31, 116, 49, 82, 128]

### I

In [ ]:
print(f'The value distribution of D in df:')
df['D'].describe()

The value distribution of D in df:

count    100.000000
mean     103.440000
std       57.781777
min        3.000000
25%       54.250000
50%      108.000000
75%      153.000000
max      197.000000
Name: D, dtype: float64

### J

In [59]:
print(f'A’s descriptive stat. in df:')
df['A'].describe()

A’s descriptive stat. in df:

count    100.000000
mean      89.600000
std       57.209521
min        0.000000
25%       47.250000
50%       85.000000
75%      135.500000
max      199.000000
Name: A, dtype: float64

# Q6

In [68]:
import pandas as pd
fruit_store_df = pd.DataFrame({
'Fruit': ['Apple', 'Banana', 'Orange', 'Grapes', 'Mango'],
'Price': [30, 20, 25, 40, 50],
'Stock': [100, 150, 120, 80, 90],
'Supplier': ['Supplier A', 'Supplier B', 'Supplier C', 'Supplier D', 'Supplier E']
})

### A

In [63]:
fruit_store_df.drop('Supplier',axis=1)

    Fruit  Price  Stock
0   Apple     30    100
1  Banana     20    150
2  Orange     25    120
3  Grapes     40     80
4   Mango     50     90

### B

In [65]:
fruit_store_df.drop(['Price','Stock'],axis=1)

    Fruit    Supplier
0   Apple  Supplier A
1  Banana  Supplier B
2  Orange  Supplier C
3  Grapes  Supplier D
4   Mango  Supplier E

### C

In [69]:
stock = fruit_store_df.pop('Stock')
stock

0    100
1    150
2    120
3     80
4     90
Name: Stock, dtype: int64