# 113356046

## Import dataset

In [35]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
clv1 = pd.read_csv('CLV_1.csv')
clv2 = pd.read_csv('CLV_2.csv')

## Q1

In [ ]:
print(clv1.shape)
print(clv2.shape)
print(clv1['CustomerID'].nunique())
print(clv2['CustomerID'].nunique())

(8099, 10)
(8099, 15)
8099
8099

## Q2

In [ ]:
common_ids = clv1['CustomerID'].isin(clv2['CustomerID'])
print(common_ids.sum())

8099

## Q3

In [ ]:
m1 = pd.merge(clv1, clv2, on='CustomerID')
print(m1.shape)
print(m1['CustomerID'].nunique())

(8099, 24)
8099

## Q4

In [ ]:
print(m1.isnull().sum())

CustomerID                       0
State                            0
CLV                              0
Response                         0
Coverage                         0
Education                        0
EffectiveToDate                  0
EmploymentStatus                 0
Gender                           0
Income                         118
LocationCode                     0
MaritalStatus                    0
MonthlyPremiumAuto               0
MonthsSinceLastClaim             0
MonthsSincePolicyInception       0
NumberofOpenComplaints           0
NumberofPolicies                 0
PolicyType                       0
Policy                        4607
RenewOfferType                   0
SalesChannel                     0
TotalClaimAmount                 0
VehicleClass                     0
VehicleSize                      0
dtype: int64

## Q5

In [ ]:
m2 = m1.loc[:, m1.isnull().sum() <= 1000]
print(m2.shape)
print(m2.isnull().sum())

(8099, 23)
CustomerID                      0
State                           0
CLV                             0
Response                        0
Coverage                        0
Education                       0
EffectiveToDate                 0
EmploymentStatus                0
Gender                          0
Income                        118
LocationCode                    0
MaritalStatus                   0
MonthlyPremiumAuto              0
MonthsSinceLastClaim            0
MonthsSincePolicyInception      0
NumberofOpenComplaints          0
NumberofPolicies                0
PolicyType                      0
RenewOfferType                  0
SalesChannel                    0
TotalClaimAmount                0
VehicleClass                    0
VehicleSize                     0
dtype: int64

## Q6

In [18]:
for col in m2.columns:
    missing_count = m2[col].isnull().sum()
    if 0 < missing_count < 500:
        m2[col].fillna(m2[col].mean(), inplace=True)
print(m2.isnull().sum())

CustomerID                    0
State                         0
CLV                           0
Response                      0
Coverage                      0
Education                     0
EffectiveToDate               0
EmploymentStatus              0
Gender                        0
Income                        0
LocationCode                  0
MaritalStatus                 0
MonthlyPremiumAuto            0
MonthsSinceLastClaim          0
MonthsSincePolicyInception    0
NumberofOpenComplaints        0
NumberofPolicies              0
PolicyType                    0
RenewOfferType                0
SalesChannel                  0
TotalClaimAmount              0
VehicleClass                  0
VehicleSize                   0
dtype: int64

## Q7

In [ ]:
print(m2.isnull().sum())

CustomerID                    0
State                         0
CLV                           0
Response                      0
Coverage                      0
Education                     0
EffectiveToDate               0
EmploymentStatus              0
Gender                        0
Income                        0
LocationCode                  0
MaritalStatus                 0
MonthlyPremiumAuto            0
MonthsSinceLastClaim          0
MonthsSincePolicyInception    0
NumberofOpenComplaints        0
NumberofPolicies              0
PolicyType                    0
RenewOfferType                0
SalesChannel                  0
TotalClaimAmount              0
VehicleClass                  0
VehicleSize                   0
dtype: int64

## Q8

In [24]:
m2['EffectiveToDate_datetime'] = pd.to_datetime(m2['EffectiveToDate'])

claims_after_date = m2[m2['EffectiveToDate_datetime'] > pd.Timestamp('2011-02-01')]

print("Insurance cases after 2022-02-01:", len(claims_after_date))

Insurance cases after 2022-02-01: 3601

## Q9

In [ ]:
print(m2['EffectiveToDate_datetime'].min())
print(m2['EffectiveToDate_datetime'].max())
print(m2['EffectiveToDate_datetime'].max() - m2['EffectiveToDate_datetime'].min())

2011-01-01 00:00:00
2011-02-28 00:00:00
58 days 00:00:00

## Q10

In [ ]:
claims_in_jan = m2[(m2['EffectiveToDate_datetime'] >= pd.Timestamp('2011-01-01')) & (m2['EffectiveToDate_datetime'] < pd.Timestamp('2011-02-01'))]
print("Insurance cases in January 2011:", len(claims_in_jan))
print(claims_in_jan['EffectiveToDate_datetime'].value_counts())

Insurance cases in January 2011: 4359
EffectiveToDate_datetime
2011-01-10    174
2011-01-27    173
2011-01-31    164
2011-01-03    162
2011-01-17    160
2011-01-19    158
2011-01-05    156
2011-01-26    153
2011-01-20    152
2011-01-29    147
2011-01-28    147
2011-01-11    146
2011-01-18    144
2011-01-21    143
2011-01-02    142
2011-01-23    139
2011-01-15    138
2011-01-07    134
2011-01-25    134
2011-01-08    133
2011-01-14    133
2011-01-01    131
2011-01-13    131
2011-01-09    128
2011-01-30    127
2011-01-16    126
2011-01-24    125
2011-01-06    123
2011-01-22    123
2011-01-12    113
2011-01-04    100
Name: count, dtype: int64

## Q11

In [32]:
claims_in_jan = m2[(m2['EffectiveToDate_datetime'] >= pd.Timestamp('2011-01-01')) &
                   (m2['EffectiveToDate_datetime'] < pd.Timestamp('2011-02-01'))]
columns_to_group = ['Gender', 'Education', 'EmploymentStatus', 'MaritalStatus']

for col in columns_to_group:
    print(f"一月份統計 {col} 的案件數:")
    print(claims_in_jan[col].value_counts())
    print("--------")
    
claims_in_feb = m2[(m2['EffectiveToDate_datetime'] >= pd.Timestamp('2011-02-01')) &
                   (m2['EffectiveToDate_datetime'] < pd.Timestamp('2011-03-01'))]
for col in columns_to_group:
    print(f"二月份統計 {col} 的案件數:")
    print(claims_in_feb[col].value_counts())
    print("--------")

一月份統計 Gender 的案件數:
Gender
F    2213
M    2146
Name: count, dtype: int64
--------
一月份統計 Education 的案件數:
Education
Bachelor                1316
High School or Below    1259
College                 1254
Master                   353
Doctor                   177
Name: count, dtype: int64
--------
一月份統計 EmploymentStatus 的案件數:
EmploymentStatus
Employed         2715
Unemployed       1129
Medical Leave     194
Disabled          187
Retired           134
Name: count, dtype: int64
--------
一月份統計 MaritalStatus 的案件數:
MaritalStatus
Married     2595
Single      1154
Divorced     610
Name: count, dtype: int64
--------
二月份統計 Gender 的案件數:
Gender
F    1951
M    1789
Name: count, dtype: int64
--------
二月份統計 Education 的案件數:
Education
College                 1115
Bachelor                1114
High School or Below    1080
Master                   295
Doctor                   136
Name: count, dtype: int64
--------
二月份統計 EmploymentStatus 的案件數:
EmploymentStatus
Employed         2364
Unemployed        912
Medical Leave     182
Disabled          170
Retired           112
Name: count, dtype: int64
--------
二月份統計 MaritalStatus 的案件數:
MaritalStatus
Married     2133
Single       999
Divorced     608
Name: count, dtype: int64
--------

## Q12

In [37]:
claims_in_jan['Date'] = claims_in_jan['EffectiveToDate_datetime'].dt.floor('d')
claims_in_feb['Date'] = claims_in_feb['EffectiveToDate_datetime'].dt.floor('d')

columns_to_group = ['VehicleClass', 'VehicleSize']

for col in columns_to_group:
    daily_counts = claims_in_jan.groupby(['Date', col]).size().reset_index(name='counts')
    avg_daily = daily_counts.groupby(col)['counts'].mean()
    print(f"一月份{col} 平均每日案件數:")
    print(avg_daily)
    print("--------")
for col in columns_to_group:
    daily_counts = claims_in_feb.groupby(['Date', col]).size().reset_index(name='counts')
    avg_daily = daily_counts.groupby(col)['counts'].mean()
    print(f"二月份{col} 平均每日案件數:")
    print(avg_daily)
    print("--------")

一月份VehicleClass 平均每日案件數:
VehicleClass
Four-Door Car    71.258065
Luxury Car        3.074074
Luxury SUV        3.034483
SUV              26.129032
Sports Car        7.419355
Two-Door Car     30.290323
Name: counts, dtype: float64
--------
一月份VehicleSize 平均每日案件數:
VehicleSize
Large      14.516129
Medsize    98.612903
Small      27.483871
Name: counts, dtype: float64
--------
二月份VehicleClass 平均每日案件數:
VehicleClass
Four-Door Car    67.892857
Luxury Car        2.480000
Luxury SUV        3.000000
SUV              26.964286
Sports Car        7.357143
Two-Door Car     26.357143
Name: counts, dtype: float64
--------
二月份VehicleSize 平均每日案件數:
VehicleSize
Large      14.035714
Medsize    93.357143
Small      26.178571
Name: counts, dtype: float64
--------