## 113356046
----

#### import dataset

In [ ]:
import pandas as pd
df = pd.read_csv('bank.csv', index_col=0).reset_index(drop=True)

---

### A

In [6]:

print(df.shape)

print(df.info())

print(df.isnull().sum())

df.dropna(thresh=len(df)-10000, axis=1, inplace=True)

df.dropna(inplace=True)

print(df.shape)

(45211, 17)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          45211 non-null  int64
 1   job          44923 non-null  object
 2   marital      45211 non-null  object
 3   education    43354 non-null  object
 4   default      45211 non-null  object
 5   balance      45211 non-null  int64
 6   housing      45211 non-null  object
 7   loan         45211 non-null  object
 8   contact      32191 non-null  object
 9   day_of_week  45211 non-null  int64
 10  month        45211 non-null  object
 11  duration     45211 non-null  int64
 12  campaign     45211 non-null  int64
 13  pdays        45211 non-null  int64
 14  previous     45211 non-null  int64
 15  poutcome     8252 non-null   object
 16  y            45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB
None
age                0
job              288
marital            0
education       1857
default            0
balance            0
housing            0
loan               0
contact        13020
day_of_week        0
month              0
duration           0
campaign           0
pdays              0
previous           0
poutcome       36959
y                  0
dtype: int64
(43193, 15)

### B

In [7]:
df.describe()

,age,balance,day_of_week,duration,campaign,pdays,previous
count,43193.000000,43193.000000,43193.000000,43193.000000,43193.000000,43193.000000,43193.000000
mean,40.764082,1354.027342,15.809414,258.323409,2.758178,40.404070,0.584863
std,10.512640,3042.103625,8.305970,258.162006,3.063987,100.420624,2.332672
min,18.000000,-8019.000000,1.000000,0.000000,1.000000,-1.000000,0.000000
25%,33.000000,71.000000,8.000000,103.000000,1.000000,-1.000000,0.000000
50%,39.000000,442.000000,16.000000,180.000000,2.000000,-1.000000,0.000000
75%,48.000000,1412.000000,21.000000,318.000000,3.000000,-1.000000,0.000000
max,95.000000,102127.000000,31.000000,4918.000000,58.000000,871.000000,275.000000

### C

#### 1

In [ ]:
avg_balance = df.groupby('job')['balance'].mean().sort_values(ascending=False)
print(avg_balance)

job
retired          2010.909091
management       1767.004883
self-employed    1649.973377
unemployed       1521.730769
entrepreneur     1519.729270
student          1369.760000
housemaid        1334.142259
technician       1235.993746
admin.           1119.939200
blue-collar      1080.684954
services          971.407343
Name: balance, dtype: float64

#### 2

In [ ]:
avg_duration = df.pivot_table(values='duration', index='job', columns='age', aggfunc='mean')

print(avg_duration)

age               18          19          20          21          22  \
job
admin.           NaN         NaN  104.000000  203.500000  261.357143
blue-collar      NaN         NaN  391.250000  186.428571  256.666667
entrepreneur     NaN         NaN         NaN  323.000000         NaN
housemaid        NaN         NaN         NaN         NaN  275.000000
management       NaN         NaN         NaN  200.000000  214.500000
retired          NaN         NaN         NaN         NaN         NaN
self-employed    NaN         NaN         NaN         NaN  218.000000
services         NaN         NaN  180.000000  237.750000  158.235294
student        208.0  171.269231  197.642857  232.717949  248.150943
technician       NaN         NaN         NaN   54.000000  298.625000
unemployed       NaN         NaN         NaN  167.666667  115.000000

age                    23          24          25          26          27  \
job
admin.         251.160000  212.113636  261.402985  261.518519  264.187050
blue-collar    332.605263  293.183099  338.234783  292.394444  290.388571
entrepreneur   235.666667   35.000000  244.000000  469.647059  250.631579
housemaid      486.750000         NaN  367.000000  206.428571  136.818182
management     250.000000  380.263158  287.164179  302.412844  271.732824
retired               NaN  234.000000  102.000000  308.000000         NaN
self-employed  393.000000  298.666667  321.363636  216.032258  260.800000
services       311.484848  390.555556  238.000000  265.734043  273.400000
student        286.092593  262.524590  276.594595  221.689655  250.636364
technician     284.476190  289.733333  292.135135  360.200000  325.234899
unemployed     245.500000  161.142857  225.545455  326.214286  227.322581

age            ...          83     84      85       86      87     88     89  \
job            ...
admin.         ...         NaN    NaN     NaN      NaN     NaN    NaN    NaN
blue-collar    ...         NaN    NaN     NaN      NaN     NaN    NaN    NaN
entrepreneur   ...         NaN  992.0     NaN      NaN     NaN    NaN    NaN
housemaid      ...  154.500000    NaN     NaN      NaN     NaN    NaN    NaN
management     ...         NaN    NaN     NaN      NaN     NaN    NaN    NaN
retired        ...  408.631579  416.5  292.25  294.875  388.75  239.5  797.0
self-employed  ...         NaN    NaN     NaN      NaN     NaN    NaN    NaN
services       ...         NaN    NaN     NaN      NaN     NaN    NaN    NaN
student        ...         NaN    NaN     NaN      NaN     NaN    NaN    NaN
technician     ...         NaN    NaN     NaN      NaN     NaN    NaN    NaN
unemployed     ...         NaN    NaN     NaN      NaN     NaN    NaN    NaN

age               90     94     95
job
admin.           NaN    NaN    NaN
blue-collar      NaN    NaN    NaN
entrepreneur     NaN    NaN    NaN
housemaid        NaN    NaN    NaN
management       NaN    NaN    NaN
retired        354.5  212.0  211.0
self-employed    NaN    NaN    NaN
services         NaN    NaN    NaN
student          NaN    NaN    NaN
technician       NaN    NaN    NaN
unemployed       NaN    NaN    NaN

[11 rows x 75 columns]

#### 3

In [13]:
long_format = pd.melt(df, id_vars=['job'], value_vars=['age', 'balance'], 
                      var_name='variable', value_name='value')

print(long_format)

                job variable  value
0        management      age     58
1        technician      age     44
2      entrepreneur      age     33
3        management      age     35
4        management      age     28
...             ...      ...    ...
86381    technician  balance    825
86382       retired  balance   1729
86383       retired  balance   5715
86384   blue-collar  balance    668
86385  entrepreneur  balance   2971

[86386 rows x 3 columns]

#### 4

In [14]:
cross_tab = pd.crosstab(df['job'], df['marital'])

print(cross_tab)

marital        divorced  married  single
job
admin.              732     2586    1682
blue-collar         711     6652    1915
entrepreneur        173     1012     226
housemaid           178      879     138
management         1080     5239    2897
retired             412     1630     103
self-employed       139      970     431
services            528     2313    1163
student               5       44     726
technician          900     3906    2549
unemployed          170      715     389

#### 5

In [ ]:
numeric_df = df.select_dtypes(include=['number'])

correlation_matrix = numeric_df.corr()

print(correlation_matrix)

                  age   balance  day_of_week  duration  campaign     pdays  \
age          1.000000  0.097602    -0.008451 -0.004953  0.004050 -0.023248
balance      0.097602  1.000000     0.004118  0.020051 -0.016251  0.003928
day_of_week -0.008451  0.004118     1.000000 -0.030074  0.164982 -0.094343
duration    -0.004953  0.020051    -0.030074  1.000000 -0.083118 -0.002403
campaign     0.004050 -0.016251     0.164982 -0.083118  1.000000 -0.088920
pdays       -0.023248  0.003928    -0.094343 -0.002403 -0.088920  1.000000
previous     0.001099  0.016564    -0.052053  0.000295 -0.032381  0.452953

             previous
age          0.001099
balance      0.016564
day_of_week -0.052053
duration     0.000295
campaign    -0.032381
pdays        0.452953
previous     1.000000

#### 6

In [17]:
df['Balance_Category'] = pd.cut(
    df['balance'],
    bins=[-float('inf'), 1000, 5000, float('inf')],
    labels=['Low', 'Medium', 'High']
)

print(df[['balance', 'Balance_Category']].head())

   balance Balance_Category
0     2143           Medium
1       29              Low
2        2              Low
5      231              Low
6      447              Low

#### 7

In [18]:
balance_category_freq = df['Balance_Category'].value_counts()

poutcome_freq = df['y'].value_counts() 

print("Balance_Category 的頻率分佈：")
print(balance_category_freq)

print("\ny (poutcome) 的頻率分佈：")
print(poutcome_freq)

Balance_Category 的頻率分佈：
Balance_Category
Low       29284
Medium    11213
High       2696
Name: count, dtype: int64

y (poutcome) 的頻率分佈：
y
no     38172
yes     5021
Name: count, dtype: int64