In [1]:
from sklearn.datasets import load_wine

### Q1

In [3]:
df = load_wine(as_frame=True).frame
df

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0,2
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0,2
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0,2
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0,2
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0,2

### Q2

In [ ]:
print(df.to_numpy())

[[  14.23    1.71    2.43 ...    3.92 1065.      0.  ]
 [  13.2     1.78    2.14 ...    3.4  1050.      0.  ]
 [  13.16    2.36    2.67 ...    3.17 1185.      0.  ]
 ...
 [  13.27    4.28    2.26 ...    1.56  835.      2.  ]
 [  13.17    2.59    2.37 ...    1.62  840.      2.  ]
 [  14.13    4.1     2.74 ...    1.6   560.      2.  ]]

### Q3

In [ ]:
print(df.columns.to_numpy())

['alcohol' 'malic_acid' 'ash' 'alcalinity_of_ash' 'magnesium'
 'total_phenols' 'flavanoids' 'nonflavanoid_phenols' 'proanthocyanins'
 'color_intensity' 'hue' 'od280/od315_of_diluted_wines' 'proline' 'target']

### Q4

In [ ]:
print(df['target'].to_numpy())
print('The wine dataset contains 178 observations (samples), where each observation represents a wine sample.')

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2]
The wine dataset contains 178 observations (samples), where each observation represents a wine sample with the following characteristics:

### Q5

In [8]:
X = df.drop(columns='target').to_numpy()
y = df['target'].to_numpy()

### Q6

In [9]:
print(f"X type: {type(X)}, y type: {type(y)}")

X type: <class 'numpy.ndarray'>, y type: <class 'numpy.ndarray'>

### Q7

In [10]:
print(f"X shape: {X.shape}, y shape: {y.shape}")
print(f"X has {X.shape[0]} observations and {X.shape[1]} features.")
print(f"y has {y.shape[0]} observations and is a 1D array with {y.shape[0]} elements.")

X shape: (178, 13), y shape: (178,)
X has 178 observations and 13 features.
y has 178 observations and is a 1D array with 178 elements.

### Q8

In [12]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=3)

### Q9

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

### Q10

In [14]:
print(f"X_train shape: {X_train.shape}, y_train shape: {y_train.shape}")
print(f"X_test shape: {X_test.shape}, y_test shape: {y_test.shape}")

X_train shape: (124, 13), y_train shape: (124,)
X_test shape: (54, 13), y_test shape: (54,)

### Q11

In [19]:
knn.fit(X_train, y_train)
from sklearn.metrics import accuracy_score
y_pred = knn.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Model accuracy: {accuracy:.2f}")

Model accuracy: 0.74

### Q12

In [18]:
from sklearn.model_selection import GridSearchCV
param_grid = {'n_neighbors': range(1, 31)}
grid_search = GridSearchCV(KNeighborsClassifier(), param_grid, cv=5, scoring='accuracy')
grid_search.fit(X_train, y_train)
best_k = grid_search.best_params_['n_neighbors']
best_accuracy = grid_search.best_score_
print(f"Best k value: {best_k}, Best accuracy: {best_accuracy:.2f}")

Best k value: 1, Best accuracy: 0.70

### Q13

In [ ]:
from sklearn.metrics import confusion_matrix
knn_final = KNeighborsClassifier(n_neighbors=best_k)
knn_final.fit(X_train, y_train)
y_pred_final = knn_final.predict(X_test)
cm = confusion_matrix(y_test, y_pred_final)
print("Confusion Matrix:")
import pandas as pd
cm_df = pd.DataFrame(cm, index=knn_final.classes_, columns=knn_final.classes_)
print(cm_df)

Confusion Matrix:
    0   1   2
0  17   0   2
1   3  16   2
2   1   3  10

### Q14

In [22]:
from sklearn.metrics import classification_report
report = classification_report(y_test, y_pred_final)
print("Classification Report:")
print(report)

Classification Report:
              precision    recall  f1-score   support

           0       0.81      0.89      0.85        19
           1       0.84      0.76      0.80        21
           2       0.71      0.71      0.71        14

    accuracy                           0.80        54
   macro avg       0.79      0.79      0.79        54
weighted avg       0.80      0.80      0.80        54